<app-header></app-header>
<app-side-menu></app-side-menu>

<div class="page-wrapper">
  <div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title" style="font-size: 18px;">RECLAMATIONS</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <div class="d-md-flex">
                <ol class="breadcrumb ms-auto">
                    <li><a href="#" class="fw-normal text-success" style="font-weight: bold;">PUBLIER UNE ANNONCE</a></li>
                </ol>
                
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <div class="container-fluid">

    
    <!-- ============================================================== -->
    <div class="row">
      <article class="col-md-12">
     
      <h3>RECLAMATIONS EN COURS</h3>
      <div class="cards-3 section-gray">
        <div class="container">
          <div class="row" >
            <div class="col-md-4" *ngFor="let liste of listeReclame | paginate: { itemsPerPage: 6, currentPage: p } " >
              <div class="card">
                <div class="table">
                  <h4 class="card-caption">
                    <a style="font-size: 12px;">{{liste.description}}</a>
                  </h4>
                  <div class="ftr">
                    <div class="author"  (click)="detalUserAnnonce(liste.user.id)">
                      <a style="font-size: 12px;"> <img src="../../../assets/Accueil/logoUserAccueil.png"
                          alt="" class="avatar img-raised"> <span>{{liste.user.nom_complet}}</span>

                      </a>
                    </div>
                    <div class="stats"> <button (click)="desactiveReclamation(liste.id)" style="font-size: 9px;border: none;margin: 0px;color: red;"> Non
                        Valider</button> &nbsp; <button (click)="ajoutNotification(liste)"
                        style="font-size: 9px;border: none;margin: 0px;color: #17BB89;">Valider</button> </div>
                  </div>
                </div>
              </div>
              <div class="card card-blog ">
                <div class="card-image"
                  style="display: flex;justify-content: center;flex-direction: column;align-items: center;">
                  <img src="{{liste.annonce.photo}}" alt="" srcset="">
                  <h6 style="font-size: 18px;" class="category text-white"> {{liste.annonce.nom}}</h6>
                  <div class="ripple-cont"></div>
                </div>
                <div class="table">
                  <div class="ftr">
                    <div class="author">
                      <i class="fas fa-map-marker-alt" aria-hidden="true"></i> <span>Lieu :{{liste.annonce.lieu}}</span>
                    </div>
                    <div class="stats">Couleur : {{liste.annonce.couleur}}<i class=" fas fa-eraser"></i></div>
                  </div>
                  <div class="ftr" >
                    <div class="author">
                      <i class="fas fa-user" aria-hidden="true"></i> <span>Prénom : {{liste.annonce.prenomProprietaireDoc}}</span>
                    </div>
                    <div class="stats">Nom : {{liste.annonce.nomProprietaireDoc}}</div>
                  </div>
                  <div class="ftr">
                    <div class="author" *ngIf="liste.annonce.nomC === '3'"> <i class="fas fa-calendar"></i> Obtenu en : {{liste.annonce.anneeObttion}}</div>
                    <div class="author" *ngIf="liste.annonce.nomC === '7'"><i class="fas fa-map-marker-alt" aria-hidden="true"></i> <span>Model :{{liste.annonce.model}}</span></div>
                    <div class="stats" *ngIf="liste.annonce.nomC === '3'">Né le : {{liste.annonce.dateNaissanceDoc}} <i class=" fas fa-calendar"></i></div>
                  </div>
                  <div class="ftr">
                    <div class="author">
                      <i class="fas fa-credit-card"></i><span>Date : {{liste.annonce.date}}</span>
                    </div>
                    <div id="pop" class="stats">
                      <button style="font-size: 9px;padding: 5px;" type="button" class="btn btn-default "
                        popover="{{liste.annonce.contenu}} " popoverTitle="Description" placement="top">
                        Description
                      </button>
                      <i class="fas fa-list-alt"></i>
                    </div>
                  </div>
                  <div class="ftr">
                    <div class="author" (click)="detalUserAnnonce(liste.annonce.utilisateur.id)">
                      <a > <img src="../../../assets/Accueil/logoUserAccueil.png" alt="..."
                          class="avatar img-raised"> <span
                          style="font-size: 10px;">{{liste.annonce.utilisateur.email}}</span> </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <pagination-controls  nextLabel="Suiv" previousLabel="Pre" (pageChange)="p = $event"></pagination-controls>
        </div>
        </div>
      </div>
      
      </article>
    </div>
    
    <hr>
    <div class="row">
      <article class="col-md-12">
     
      <h3 style="color: #17BB89;">LES RECLAMATIONS VALIDES</h3>
      <div class="cards-3 section-gray">
        <div class="container">
          <div class="row" >
            <div class="col-md-4" *ngFor="let liste of listeReclamationdesactivevalide | paginate: { itemsPerPage: 6, currentPage: p } " >
              <div class="card">
                <div class="table">
                  <h4 class="card-caption">
                    <a style="font-size: 12px;">{{liste.description}}</a>
                  </h4>
                  <div class="ftr">
                    <div class="author"  (click)="detalUserAnnonce(liste.user.id)">
                      <a style="font-size: 12px;"> <img src="../../../assets/Accueil/logoUserAccueil.png"
                          alt="" class="avatar img-raised"> <span>{{liste.user.nom_complet}}</span>

                      </a>
                    </div>
                    <div class="stats"> <button (click)="desactiveReclamation(liste.id)" style="font-size: 9px;border: none;margin: 0px;color: red;"> Rétirer</button> </div>
                  </div>
                </div>
              </div>
              <div class="card card-blog ">
                <div class="card-image"
                  style="display: flex;justify-content: center;flex-direction: column;align-items: center;">
                  <img src="{{liste.annonce.photo}}" alt="" srcset="">
                  <h6 style="font-size: 18px;" class="category text-white"> {{liste.annonce.nom}}</h6>
                  <div class="ripple-cont"></div>
                </div>
                <div class="table">
                  <div class="ftr">
                    <div class="author">
                      <i class="fas fa-map-marker-alt" aria-hidden="true"></i> <span>Lieu :{{liste.annonce.lieu}}</span>
                    </div>
                    <div class="stats">Couleur : {{liste.annonce.couleur}}<i class=" fas fa-eraser"></i></div>
                  </div>
                  <div class="ftr" >
                    <div class="author">
                      <i class="fas fa-user" aria-hidden="true"></i> <span>Prénom : {{liste.annonce.prenomProprietaireDoc}}</span>
                    </div>
                    <div class="stats">Nom : {{liste.annonce.nomProprietaireDoc}}</div>
                  </div>
                  <div class="ftr">
                    <div class="author" *ngIf="liste.annonce.nomC === '3'"> <i class="fas fa-calendar"></i> Obtenu en : {{liste.annonce.anneeObttion}}</div>
                    <div class="author" *ngIf="liste.annonce.nomC === '7'"><i class="fas fa-map-marker-alt" aria-hidden="true"></i> <span>Model :{{liste.annonce.model}}</span></div>
                    <div class="stats" *ngIf="liste.annonce.nomC === '3'">Né le : {{liste.annonce.dateNaissanceDoc}} <i class=" fas fa-calendar"></i></div>
                  </div>
                  <div class="ftr">
                    <div class="author">
                      <i class="fas fa-credit-card"></i><span>Date : {{liste.annonce.date}}</span>
                    </div>
                    <div id="pop" class="stats">
                      <button style="font-size: 9px;padding: 5px;" type="button" class="btn btn-default "
                        popover="{{liste.annonce.contenu}} " popoverTitle="Description" placement="top">
                        Description
                      </button>
                      <i class="fas fa-list-alt"></i>
                    </div>
                  </div>
                  <div class="ftr">
                    <div class="author" (click)="detalUserAnnonce(liste.annonce.utilisateur.id)">
                      <a > <img src="../../../assets/Accueil/logoUserAccueil.png" alt="..."
                          class="avatar img-raised"> <span
                          style="font-size: 10px;">{{liste.annonce.utilisateur.email}}</span> </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <pagination-controls  nextLabel="Suiv" previousLabel="Pre" (pageChange)="p = $event"></pagination-controls>
        </div>
        </div>
      </div>
      
      </article>
    </div>
    <footer class="footer text-center">
      
      2021 © Ample Admin brought to you by <a
            href="https://www.wrappixel.com/">wrappixel.com</a>
    </footer>
  </div>
</div>