<app-header></app-header>
<app-side-menu></app-side-menu>

<div class="page-wrapper">
  <div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title" style="font-size: 18px;">ACCUEIL</h4>
      </div>
      <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <div class="d-md-flex">
          <ol class="breadcrumb ms-auto">
            <li><a href="#" class="fw-normal text-success" style="font-weight: bold;">PUBLIER UNE ANNONCE</a></li>
          </ol>

        </div>
      </div>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <div class="container-fluid">


    <!-- ============================================================== -->
    <div class="row">
      <article class="col-md-12">
        <!-- Annalyse Statistique -->
        <h2>ANNALYSE STATISTIQUE</h2>
        <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css"
          href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
        <link rel="stylesheet" type="text/css"
          href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
        <link rel="stylesheet" type="text/css"
          href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
        <link rel="stylesheet" type="text/css"
          href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

        <div class="grey-bg container-fluid">
          <section id="minimal-statistics">
            <div class="row CardStatistique">
              <div class="col-xl-3 col-sm-6 col-12">
                <div class="card" style="height: 100px;">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="media-body text-left">
                        <h3 class="success" style="margin: -1px;font-size: 18px;">{{nombreObjetPerdu}}</h3>
                        <span style="font-size: 10px;">NOMBRE D'OBJET PERDU</span>
                      </div>
                      <div class="align-self-center">
                        <i class="fas fa-cubes success  float-right"></i>
                      </div>
                    </div>
                    <div class="progress mt-1 mb-0" style="height: 7px;">
                      <div class="progress-bar bg-dark" role="progressbar" style="width: 100%" aria-valuenow="80"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12">
                <div class="card" style="height: 100px;">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="media-body text-left">
                        <h3 class="success" style="margin: -1px;font-size: 18px;">{{nombreObjetTrouve}}</h3>
                        <span style="font-size: 10px;">NOMBRE D'OBJET TROUVE</span>
                      </div>
                      <div class="align-self-center">
                        <i class="fas fa-cubes success  float-right"></i>
                      </div>
                    </div>
                    <div class="progress mt-1 mb-0" style="height: 7px;">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="80"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12">
                <div class="card" style="height: 100px;">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="media-body text-left">
                        <h3 class="success" style="margin: -1px;font-size: 18px;">{{nombreHomme}}</h3>
                        <span style="font-size: 10px;">NOMBRE UTILISATEUR HOMME</span>
                      </div>
                      <div class="align-self-center">
                        <i class="fas fa-user success  float-right"></i>
                      </div>
                    </div>
                    <div class="progress mt-1 mb-0" style="height: 7px;">
                      <div class="progress-bar bg-dark" role="progressbar" style="width: 100%" aria-valuenow="80"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 col-12">
                <div class="card" style="height: 100px;">
                  <div class="card-body">
                    <div class="media d-flex">
                      <div class="media-body text-left">
                        <h3 class="success" style="margin: -1px;font-size: 18px;">{{nombreFemme}}</h3>
                        <span style="font-size: 10px;">NOMBRE UTILISATEUR FEMME</span>
                      </div>
                      <div class="align-self-center">
                        <i class="fas fa-user success  float-right"></i>
                      </div>
                    </div>
                    <div class="progress mt-1 mb-0" style="height: 7px;">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="80"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <!-- --------Fin---------- -->
        <!-- RECEMMENT PERDU -->
        <h2>LES OBJETS PERDU</h2>
        <!-- Card Recemment perdu -->
        <div class="cards-1 section-gray">
          <div class="container">
            <div class="row">
              <div class="col-md-4"
                *ngFor="let listeP of listeAnnoncesPerdu | paginate: { itemsPerPage: 3, currentPage: perdu }">
                <div class="card card-blog ">
                  <div class="card-image"
                    style="display: flex;justify-content: center;flex-direction: column;align-items: center;">
                    <img src="{{listeP.photo}}" alt="" srcset="">
                    <h6 style="font-size: 18px;" class="category text-white"> {{listeP.nom}}</h6>
                    <div class="ripple-cont"></div>
                  </div>
                  <div class="table">
                    <div class="ftr">
                      <div class="author">
                        <i class="fas fa-map-marker-alt" aria-hidden="true"></i> <span>Lieu : {{listeP.lieu}}</span>
                      </div>
                      <div class="stats">Couleur : {{listeP.couleur}} <i class=" fas fa-eraser"></i></div>
                    </div>
                    <div class="ftr" >
                      <div class="author">
                        <i class="fas fa-user" aria-hidden="true"></i> <span>Prénom : {{listeP.prenomProprietaireDoc}}</span>
                      </div>
                      <div class="stats">Nom : {{listeP.nomProprietaireDoc}}</div>
                    </div>
                    <div class="ftr">
                      <div class="author" *ngIf="listeP.nomC === '3'"> <i class="fas fa-calendar"></i> Obtenu en : {{listeP.anneeObttion}}</div>
                      <div class="author" *ngIf="listeP.nomC === '7'"><i class="fas fa-map-marker-alt" aria-hidden="true"></i> <span>Model :{{listeP.model}}</span></div>
                      <div class="stats" *ngIf="listeP.nomC === '3'">Né le : {{listeP.dateNaissanceDoc}} <i class=" fas fa-calendar"></i></div>
                    </div>
                    <div class="ftr">
                      <div class="author">
                        <i class="fas fa-credit-card"></i><span>Date : {{listeP.date | date:'shortDate'}}</span>
                      </div>
                      <div id="pop" class="stats">
                        <button style="font-size: 9px;padding: 5px;" type="button" class="btn btn-default "
                          popover="{{listeP.contenu}} " popoverTitle="Description" placement="top">
                          Description
                        </button>
                        <i class="fas fa-list-alt"></i>
                      </div>
                    </div>
                    <div class="ftr">
                      <div class="author" (click)="detalUserAnnonce(listeP.utilisateur.id)">
                        <a > <img src="../../../assets/Accueil/logoUserAccueil.png" alt="..."
                            class="avatar img-raised"> <span
                            style="font-size: 10px;">{{listeP.utilisateur.email}}</span> </a>
                      </div>
                      <div class="stats" (click)="desactiveAnnonce(listeP.id)">
                         <i class="fa fa-clock-o"></i> <a>Retirer</a> </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <pagination-controls nextLabel="Suiv" previousLabel="Pre" (pageChange)="perdu = $event"></pagination-controls>
        </div>
        <!-- LES OBJETS TROUVES -->
        <h2>LES OBJETS TROUVES</h2>
        <div class="cards-2 section-gray">
          <div class="objetTrouve">
            <div class="row">
              <div class="containerT "
                *ngFor="let liste of listeAnnoncesTrouve  | paginate: { itemsPerPage: 3, currentPage: trouve }">
                <div class="card"  style="background: none; border: none; box-shadow: none;">
                  <div class="slide slide1">
                    <div class="content">
                      <div class="icon">
                        <img src="{{liste.photo}}" style="height: 165px;"  alt="" srcset="">
                        <P>Lieu : <span>{{liste.lieu}}</span> &nbsp;  &nbsp; Date : {{liste.date | date:'shortDate'}}</P>
                      </div>
                    </div>
                  </div>
                  <div class="slide slide2">
                    <div class="content">
                      <div class="table">
                        <div class="ftr">
                          <div class="author">
                            <i class="fas fa-map-marker-alt" aria-hidden="true"></i> <span>{{liste.lieu}}</span>
                          </div>
                          <div class="stats"> {{liste.couleur}} <i class=" fas fa-eraser"></i></div>
                        </div>
                        <div class="ftr">
                          <div class="author" *ngIf="liste.nomC === '7'">
                            <i class="fas fa-map-marker-alt" aria-hidden="true"></i> <span>Model :{{liste.model}}</span>
                          </div>
                          <div class="stats" *ngIf="liste.nomC === '3'">Année Obtention : {{liste.anneeObttion}} <i class="fas fa-clock"></i></div>
                        </div>
                        <div class="ftr">
                          <div class="author">
                            <i class="fas fa-credit-card"></i><span>{{liste.date | date:'shortDate'}}</span>
                          </div>
                          <div id="pop" class="stats">
                            <button style="font-size: 9px; color: black;" type="button" class="btn btn-default "
                              popover=" {{liste.contenu}} " popoverTitle="Description" placement="top">
                              Description
                            </button>
                            <i class="fas fa-list-alt"></i>
                          </div>
                        </div>
                        <div class="ftr">
                          <div class="author"(click)="detalUserAnnonce(liste.utilisateur.id)">
                            <a> <img src="../../../assets/Accueil/logoUserAccueil.png" width="40px" alt="..."
                                class="avatar img-raised"> <span
                                style="font-size: 10px;">{{liste.utilisateur.email}}</span> </a>
                          </div>
                          <div class="stats" (click)="desactiveAnnonce(liste.id)"> <i class="fa fa-clock-o"></i> <a>Retirer</a> </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <pagination-controls nextLabel="Suiv" previousLabel="Pre" (pageChange)="trouve = $event"></pagination-controls>
          </div>
          
        </div>
        <!-- BACKGROUND CARDS -->
        <h3>LES RECLAMATIONS</h3>
        <div class="cards-3 section-gray">
          <div class="container">
            <div class="row">
              <div class="col-md-4" *ngFor="let liste of infoReclame ">
                <div class="card">
                  <div class="table">
                    <h4 class="card-caption">
                      <a style="font-size: 12px;">{{liste.description}}</a>
                    </h4>
                    <div class="ftr">
                      <div class="author"  (click)="detalUserAnnonce(liste.user.id)">
                        <a style="font-size: 12px;"> <img src="../../../assets/Accueil/logoUserAccueil.png"
                            alt="" class="avatar img-raised"> <span>{{liste.user.nom_complet}}</span>

                        </a>
                      </div>
                      <div class="stats"> <button (click)="desactiveReclamation(liste.id)" style="font-size: 9px;border: none;margin: 0px;color: red;"> Non
                          Valider</button> &nbsp; <button (click)="ajoutNotification(liste)"
                          style="font-size: 9px;border: none;margin: 0px;color: #17BB89;">Valider</button> </div>
                    </div>
                  </div>
                </div>
                <div class="card card-blog ">
                  <div class="card-image"
                    style="display: flex;justify-content: center;flex-direction: column;align-items: center;">
                    <img src="{{liste.annonce.photo}}" alt="" srcset="">
                    <h6 style="font-size: 18px;" class="category text-white"> {{liste.annonce.nom}}</h6>
                    <div class="ripple-cont"></div>
                  </div>
                  <div class="table">
                    <div class="ftr">
                      <div class="author">
                        <i class="fas fa-map-marker-alt" aria-hidden="true"></i> <span>Lieu :{{liste.annonce.lieu}}</span>
                      </div>
                      <div class="stats">Couleur : {{liste.annonce.couleur}}<i class=" fas fa-eraser"></i></div>
                    </div>
                    <div class="ftr" >
                      <div class="author">
                        <i class="fas fa-user" aria-hidden="true"></i> <span>Prénom : {{liste.annonce.prenomProprietaireDoc}}</span>
                      </div>
                      <div class="stats">Nom : {{liste.annonce.nomProprietaireDoc}}</div>
                    </div>
                    <div class="ftr">
                      <div class="author" *ngIf="liste.annonce.nomC === '3'"> <i class="fas fa-calendar"></i> Obtenu en : {{liste.annonce.anneeObttion}}</div>
                      <div class="author" *ngIf="liste.annonce.nomC === '7'"><i class="fas fa-map-marker-alt" aria-hidden="true"></i> <span>Model :{{liste.annonce.model}}</span></div>
                      <div class="stats" *ngIf="liste.annonce.nomC === '3'">Né le : {{liste.annonce.dateNaissanceDoc}} <i class=" fas fa-calendar"></i></div>
                    </div>
                    <div class="ftr">
                      <div class="author">
                        <i class="fas fa-credit-card"></i><span>Date : {{liste.annonce.date}}</span>
                      </div>
                      <div id="pop" class="stats">
                        <button style="font-size: 9px;padding: 5px;" type="button" class="btn btn-default "
                          popover="{{liste.annonce.contenu}} " popoverTitle="Description" placement="top">
                          Description
                        </button>
                        <i class="fas fa-list-alt"></i>
                      </div>
                    </div>
                    <div class="ftr">
                      <div class="author" (click)="detalUserAnnonce(liste.annonce.utilisateur.id)">
                        <a > <img src="../../../assets/Accueil/logoUserAccueil.png" alt="..."
                            class="avatar img-raised"> <span
                            style="font-size: 10px;">{{liste.annonce.utilisateur.email}}</span> </a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="card card-blog ">
                  <div class="card-image"
                    style="display: flex;justify-content: center;flex-direction: column;align-items: center;">
                    <img src="../../../assets/Accueil/NTAB.png" style="width: 30%;height: 90px;" alt="" srcset="">
                    <h6 style="font-size: 18px;" class="category text-white"> {{liste.annonce.nom}}</h6>
                    <div class="ripple-cont"></div>
                  </div>
                  <div class="table">
                    <div class="ftr">
                      <div class="author">
                        <i class="fas fa-map-marker-alt" aria-hidden="true"></i> <span>{{liste.annonce.lieu}}</span>
                      </div>
                      <div class="stats"> {{liste.annonce.couleur}} <i class=" fas fa-eraser"></i></div>
                    </div>
                    <div class="ftr">
                      <div class="author">
                        <i class="fas fa-credit-card"></i><span>{{liste.annonce.date | date:'shortDate'}}</span>
                      </div>
                      <div id="pop" class="stats">
                        <button style="font-size: 9px;padding: 5px;" type="button" class="btn btn-default "
                          popover="{{liste.annonce.contenu}} " popoverTitle="Description" placement="top">
                          Description
                        </button>
                        <i class="fas fa-list-alt"></i>
                      </div>
                    </div>
                    <div class="ftr">
                      <div class="author" (click)="detalUserAnnonce(liste.annonce.utilisateur.id)">
                        <a> <img src="../../../assets/Accueil/logoUserAccueil.png" alt="..."
                            class="avatar img-raised"> <span
                            style="font-size: 10px;">{{liste.annonce.utilisateur.email}}</span> </a>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>

    <footer class="footer text-center">

      2021 © Ample Admin brought to you by <a href="https://www.wrappixel.com/">wrappixel.com</a>
    </footer>

  </div>
</div>