<ion-content>
  <ion-card class="ion-no-margin cardlogo">
    <ion-img src="assets/Auth/Auth.png" ></ion-img>
    <div class="logo ion-text-center">
      <ion-img src="assets/NTAB.png"></ion-img>
    </div>
  </ion-card>
    <form  #loginForm="ngForm"  (ngSubmit)="onLogin(loginForm.value)" autocomplete="off">
      <div class="inputs">  
        <ion-item>
          <ion-icon name="person"></ion-icon>
          <ion-input type="text" pattern="[a-z0-9]+@gmail.com"  name ="email" #email="ngModel" ngModel placeholder="Email" required></ion-input>
        </ion-item>
        <div style="font-size: 12px;margin-top: 10px;text-align: center;" [hidden]="email.valid || email.pristine" class="alert alert-danger">
          Respecter bien le Format : Nombre de carractère 6-16
        </div>
    
       
      </div>
      
      <div class="btnConnect">
        <ion-button expand="block" style="border-radius: 10px;width: 92%; margin: 0 auto;"   type="submit" [disabled]="loginForm.form.invalid">Envoyer</ion-button>
      </div>
    </form>
    <div style="text-align: center; margin-top: 30px;">
    <ion-button style="border-radius: 10px;width: 95%; margin: 0 auto;" expand="block" color="danger" [routerLink]="['/login']">Annuler</ion-button>
    </div>
    

</ion-content>
