<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Info Utile</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item>
      <ion-label style="font-size: 14px;">Comprendre N'TA en vidéo</ion-label>
    </ion-item>
    <video width="260" height="160" controls >
      <source src="assets/video/Troov - Quand retrouver un objet perdu devient un jeu d'enfant.mp4" type="video/mp4">
      <source src="movie.ogg" type="video/ogg">
      Your browser does not support the video tag.
    </video>
  </ion-card>
  <div style="padding: 10px; text-align: center;">
    <label style="font-size: 20px; color: #17BB89;" for="">Objectif de N'TA</label>
    <p style=" text-align: left;">N'TA permet de centraliser l'information concernant la perte des objets et qui dépasse la limite des solutions actuel dans le but de rendre efficace la recherche des objets</p>
  </div>
  <div style="padding: 10px; text-align: center;">
    <label style="font-size: 20px; color: #17BB89;" for="">Analyse Statistique</label>
    <p style=" text-align: left;">Avec N’TA nous pouvons faire ressortir les données statistiques des objets (perdus et trouvés) sur toute l'étendue du territoire Malien</p>
    <ion-item>
      <ion-icon slot="start" name="bag-add"></ion-icon>
      <ion-label>Objet Trouvé</ion-label>
      <ion-note slot="end" color="success">{{nombreObjetTrouve}}</ion-note>
    </ion-item>
    <ion-progress-bar color="success" value={{b}} buffer="0.0"></ion-progress-bar>  
    <ion-item>
      <ion-icon slot="start" name="bag-remove"></ion-icon>
      <ion-label>Objet Perdu</ion-label>
      <ion-note slot="end" color="danger">{{nombreObjetPerdu}}</ion-note>
    </ion-item>
    <ion-progress-bar color="dark" value={{v}} buffer="0.0"></ion-progress-bar>  
 
  </div>
  <div style="text-align: center;margin-top: 15px;">
  <label style="font-size: 20px; color: #17BB89;" >Autre Info</label>
  </div>
  <ion-row class="cadreSlide">
    <ion-slides  [options]="slideOpts" >
   
      <ion-slide> 
        <ion-card>
          <ion-card-header>
          <img src="assets/guide/Pa.jpg">
          </ion-card-header>
          <ion-card-content>
            Toute personne ayant perdu ses papiers est admis à en faire la déclarations immédiatement afin d’éviter la fraude et/ou l’usage de ceux-ci par un tiers. 
          </ion-card-content>
        </ion-card>    
      </ion-slide>
      <ion-slide> 
        <ion-card>
          <ion-card-header>
          <img src="assets/guide/PO.jpg">
          </ion-card-header>
          <ion-card-content>
            Qui reçoit la déclaration ?
            L’autorité compétente notamment le préfet, le commissariat de police, la gendarmerie à la section "Voie publique" ou le chef de poste de garde le jour de la déclaration dans le registre de la main courante.
          </ion-card-content>
        </ion-card>    
      </ion-slide>
      <ion-slide> 
        <ion-card>
          <ion-card-header>
          <img src="assets/guide/P.jpg">
          </ion-card-header>
          <ion-card-content>
            NB : La déclaration de certains documents tels que le titre foncier ne débouche pas sur la livraison à l'usager d’un certificat de perte.
          </ion-card-content>
        </ion-card>    
      </ion-slide>
      <ion-slide> 
        <ion-card>
          <ion-card-header>
          <img src="assets/guide/D.jpg">
          </ion-card-header>
          <ion-card-content>
            DÉLAI D'OBTENTION :
            Immédiat 
          </ion-card-content>
        </ion-card>    
      </ion-slide>
      <ion-slide> 
        <ion-card>
          <ion-card-header>
          <img src="assets/guide/G.jpg">
          </ion-card-header>
          <ion-card-content>
            SERVICES À CONTACTER :
              Préfecture, gendarmerie ou commissariat
          </ion-card-content>
        </ion-card>    
      </ion-slide>
      
    </ion-slides>
  </ion-row>
  

   
 
</ion-content>
<ion-footer>
  <div class="footer">
    <ion-item lines=none>
      <ion-avatar slot="start">
        <img src="assets/NTAB.png" style="height: 50px;">
      </ion-avatar>
      <ion-label class="ion-text-wrap">
       Tel : 77 04 92 70 <br> Email : sangaremodibo001@gmail.com <br> Site Wew : <a style="color: black;" href="http://www.NTA.com">www.NTA.com</a>
      </ion-label>
    </ion-item> 
  </div>
</ion-footer>
