<!-- <aside class="left-sidebar t" >
            
            <div class="scroll-sidebar">
               
                <hr>
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                       
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="accueil" aria-expanded="false">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <span class="hide-menu"><b>Accueil</b></span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="listeadmin" aria-expanded="false">
                                <i class="fa fa-users" aria-hidden="true"></i>
                                <span class="hide-menu"><b>Gestion Administrateurs</b></span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="listeuser" aria-expanded="false">
                                <i class="fa fa-users" aria-hidden="true"></i>
                                <span class="hide-menu"><b>Gestion Utilisateurs</b></span>
                            </a>
                        </li>
                        
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="listeobjper" aria-expanded="false">
                                <i class="fas fa-calendar-check" aria-hidden="true"></i>
                                <span class="hide-menu"><b>Objets Perdu</b></span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="listeobjtrouv" aria-expanded="false">
                                <i class="fas fa-calendar-check" aria-hidden="true"></i>
                                <span class="hide-menu"><b>Objets Trouvé</b></span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="" aria-expanded="false">
                                <i class="fas fa-chart-line" aria-hidden="true"></i>
                                <span class="hide-menu"><b>Réclamation</b></span>
                            </a>
                        </li>
                        
                        <li class="sidebar-item" style="padding-top: 30px;" (click)="logout()">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="" aria-expanded="false">
                                <i class="fas fa-sign-out-alt" aria-hidden="true" style="color: red; font-weight: bold; font-size: 25px;"></i>
                                <span class="hide-menu" style="color: red; font-weight: bold;"><b>DECONNEXION</b></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            
            </div>
           
</aside>
         -->
         <aside class="left-sidebar t">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                        <li class="sidebar-item pt-2">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="accueil"
                                aria-expanded="false">
                                <i class="fas fa-home text-white" aria-hidden="true"></i>
                                <span class="hide-menu">ACCUEIL</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="listeadmin"
                                aria-expanded="false">
                                <i class="fa fa-user text-white" aria-hidden="true"></i>
                                <span class="hide-menu">ADMINISTRATEURS</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="listeuser"
                                aria-expanded="false">
                                <i class=" fas fa-users text-white" aria-hidden="true"></i>
                                <span class="hide-menu">UTILISATEURS</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="listCategorie"
                                aria-expanded="false">
                                
                                <i class="fa fa-cubes text-white" aria-hidden="true"></i>
                                <span class="hide-menu">CATEGORIES/OBJETS</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="listeobjper"
                                aria-expanded="false">
                                <i class=" fas fa-shopping-bag text-white" aria-hidden="true"></i>
                                <span class="hide-menu">OBJET PERDU</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="listeobjtrouv"
                                aria-expanded="false">
                                <i class=" fas fa-shopping-bag text-white" aria-hidden="true"></i>
                                <span class="hide-menu">OBJET TROUVE</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="reclame"
                                aria-expanded="false">
                                <i class="fa fa-columns text-white" aria-hidden="true"></i>
                                <span class="hide-menu">RECLAMATION</span>
                            </a>
                        </li>
                        <!-- <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="404.html"
                                aria-expanded="false">
                                
                                <i class="fas fa-chart-bar text-white" aria-hidden="true"></i>
                                <span class="hide-menu">REPPORTING</span>
                            </a>
                        </li> -->
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" [routerLink]="['/corbeille']"
                                aria-expanded="false">
                                <i class="fa fa-trash text-white" aria-hidden="true"></i>
                                <span class="hide-menu"> CORBEILLE</span>
                            </a>
                        </li>
                        <li class="sidebar-item"  (click)="logout()" >
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                                aria-expanded="false">
                                <span class="hide-menu" style="color: rgb(255, 255, 255); border: 1px solid black; background-color: black; padding: 5px; font-weight: bold;">
                                <i class="fa fa-sign-out-alt text-white" aria-hidden="true"></i>
                                    DECONNEXION
                                </span>
                            </a>
                        </li>
                        
                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>