ion-content{
    

    .cardlogo{
        box-shadow: none;

        .logo{
            border: 1px solid rgb(110, 110, 110);
            border-radius: 50%;
            box-shadow: 3px 3px 3px rgb(105, 105, 105);
            background-color: #17BB89;
            margin: 0px auto 3px auto;
            height: 100px;
            width: 100px;
        }
       
       
        @-webkit-keyframes scale-in-center {
            0% {
              -webkit-transform: scale(0);
                      transform: scale(0);
              opacity: 1;
            }
            100% {
              -webkit-transform: scale(1);
                      transform: scale(1);
              opacity: 1;
            }
          }
          @keyframes scale-in-center {
            0% {
              -webkit-transform: scale(0);
                      transform: scale(0);
              opacity: 1;
            }
            100% {
              -webkit-transform: scale(1);
                      transform: scale(1);
              opacity: 1;
            }
          };
        .logo{
            -webkit-animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            ion-img{
                height: 100px;
            }
        }
    }
    form{
        .inputs{
            padding: 10px;
            ion-item{
                color: #0a3125;
                font-weight: bold;
                border-radius: 10px;
                border: 1px inset #012A10;
                box-shadow: 2px 2px 2px rgba(83, 83, 83, 0.616);
                text-align: center;
                margin-top: 10px;
                --highlight-color-focused:#012A10;  
                ion-icon{
                    color: #17BB89;
                }
            }
            ion-item:hover{
                border: 1px insetrgba(83, 83, 83, 0.616);
                box-shadow: 4px 4px 4px rgba(83, 83, 83, 0.616);
              
            }
        }
        
    
    .password-f{
        text-align: right;
        ion-button{
            font-size: 9px;
            color: #036126;
           
        }
    }
    .btnConnect{
        margin-top: 10px;
        text-align: center;
        
       ion-button{
           --background: #17BB89;
           
          
           --box-shadow: 3px 3px 3px rgb(107, 106, 106);
       }
       ion-button:hover{
        --background: white;
        color: #17BB89;
       
       
        --box-shadow: 3px 3px 3px rgb(107, 106, 106);
        }
    }
    }
        
     
    .textConnect{
        text-align: center;
        margin-top: 25px;
        span{
            font-size: 12px;
            color: #898585;
        }
    }
  
}