<ion-header>
  <ion-toolbar>
    <ion-buttons style="font-size: 20px;font-weight: bold;" slot="start">
      <ion-back-button color="light" mode="md"  defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let liste of myNotification">
    <ion-item style="margin: 5px 0px;padding: 0px; --background: #17bb8a34;" *ngIf="liste.etatNotification ==='nonvue'" (click)="changerNotification(liste.id)">
      <ion-thumbnail slot="start">
        <img  src="assets/Accueil/logoUserAccueil.png">
      </ion-thumbnail>
      <ion-label  [routerLink]="['/detail-notification', liste.id]">
        <h3>Equipe N'TA</h3>
        <p>{{liste.description}}</p>
      </ion-label>
      <ion-icon (click)="presentActionSheet()" name="ellipsis-horizontal-circle-sharp"></ion-icon>
    </ion-item>
    <ion-item style="margin: 5px 0px;padding: 0px;" *ngIf="liste.etatNotification ==='vue'" >
      <ion-thumbnail slot="start">
        <img  src="assets/Accueil/logoUserAccueil.png">
      </ion-thumbnail>
      <ion-label  [routerLink]="['/detail-notification', liste.id]">
        <h3>Equipe N'TA</h3>
        <p>{{liste.description}}</p>
      </ion-label>
      <ion-icon (click)="presentActionSheet(liste.id)" name="ellipsis-horizontal-circle-sharp"></ion-icon>
    </ion-item>
  </div>
</ion-content>
