ion-toolbar{
    --background:linear-gradient(#3d85c6, #0000CD);
    color: white;
    ion-title{
        font-size: 12px;
    }
    ion-buttons{
        ion-button{
           ion-icon{
               font-size: 25px;
           }
        }
    }
}
ion-content{

    h2{
        padding: 0px;
        margin: 0px;
    }
    text-align: center;
    
        form{
            padding: 10px;
           
            
            .categorieObjet{
                font-size: 8px;
            }
            ion-item{
               
                color: #64789D;
                font-size: 13px;
                text-align: center;
                --highlight-color-focused:#081fa3;
                ion-input{
                    text-align: left;
                }
                
            }
        }
        
    
}

ion-datetime {
    height: auto;
    width: auto;

    max-width: 350px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    grid-gap: 0 10px;
  }

  ion-modal {
    --width: 290px;
    --height: 382px;
    --border-radius: 8px;
  }

  ion-modal ion-datetime {
    height: 382px;
  }

  .ajoutImageContent{
      
      text-align: center;
      border: 1px solid BLACK;
  }
  .ajoutImageIcon{
    font-size: 50px;
    margin-top: 10px;
  }
  .title{
      margin-top: 10px;
      font-size: 14px;
      color: #0000CD;
  }
  ion-subtitle{
      font-size: 10px;
  }

  ion-slides {
    width: 100%;
    height: 150px;
    .slideIonCard{
    padding: 0px;
    margin-top: 10px;
    width: 100%;
    height: 145px;
    border: 1px solid rgb(100, 100, 100);
    }
   
  }
  

