<app-header></app-header>
<app-side-menu></app-side-menu>

<div class="page-wrapper">
  <div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title" style="font-size: 18px;">Corbeille</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <div class="d-md-flex">
                <ol class="breadcrumb ms-auto">
                    <li><a href="#" class="fw-normal text-success" style="font-weight: bold;">PUBLIER UNE ANNONCE</a></li>
                </ol>
                
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <div class="container-fluid">

    
    <!-- ============================================================== -->
   
    
    <footer class="footer text-center">
      
      2021 © Ample Admin brought to you by <a
            href="https://www.wrappixel.com/">wrappixel.com</a>
    </footer>
    
  </div>
</div>