
.contener{
    border: 1px solid black;
}
.container .card .icon {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: #45474b;

    border: 1px solid black;

    color: #fff;

    padding: 5px;

    font-weight: 500;

    text-align: center;

    font-size: 15px;

}

.container .card .icon .fa {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    font-size: 80px;

    color: #fff;

}

.container .card .slide {

    width: 300px;

    height: 200px;

    transition: 0.5s;

}

.container .card .slide.slide1 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 1;

    transition: .7s;

    transform: translateY(100px);

}

.container .card:hover .slide.slide1{

    transform: translateY(0px);

}

.container .card .slide.slide2 {

    position: relative;
    
    padding: 2px;

    box-sizing: border-box;

    transition: .8s;

    transform: translateY(-100px);

    box-shadow: 0 20px 40px rgba(0,0,0,0.4);

}

.container .card:hover .slide.slide2{

    transform: translateY(0);

}

.container .card .slide.slide2::after{

    content: "";

    position: absolute;

    width: 30px;

    height: 4px;

    bottom: 15px;

    left: 50%;

    left: 50%;

    transform: translateX(-50%);

    background: #2c73df;

}



h2 {
    font-size: 1.5em;
    line-height: 1.6em;
    font-weight: bold;
    font-family: "Roboto Slab", "Times New Roman", serif;
    text-align: center;
  }
// -------------------------------------

.table {
    margin-bottom: 0px;
}

.card .table {
    padding: 15px 30px;
}



.card .ftr {
    margin-top: 15px;
}

.card .ftr div {
    display: inline-block;
}

.card .ftr .author {
    color: #888;
}

.card .ftr .stats {
    float: right;
    line-height: 30px;
}

.card .ftr .stats {
    position: relative;
    top: 1px;
    font-size: 14px;
}

.cards-1{

    .card {
        display: inline-block;
        position: relative;
        width: 100%;
        margin-bottom: 10px;
        border-radius: 6px;
        background: rgb(255, 255, 255);
        
        border: 1px solid #17BB89;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        .card-image {
            height: 160px;
            position: relative;
            background-color: #313131;
            overflow: hidden;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: -30px;
            border-radius: 6px;
            box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
            img {
                width: 98%;
                height: 90%;
                border-radius: 6px;
                pointer-events: none;
            }
        }
    }
    
}