<app-header></app-header>
<app-side-menu></app-side-menu>

<div class="page-wrapper">
  <div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title" style="font-size: 18px;">OBJET TROUVE</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <div class="d-md-flex">
                <ol class="breadcrumb ms-auto">
                    <li><a href="#" class="fw-normal text-success" style="font-weight: bold;">PUBLIER UNE ANNONCE</a></li>
                </ol>
                
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <div class="container-fluid">

    <h2>LISTE DES OBJET TROUVES</h2>
    <!-- ============================================================== -->
    <div class="row" >
        <div class="container bg-white" style="display: flex;justify-content: space-around; flex-wrap: wrap;" >
            <div class="card" *ngFor="let liste of listeAnnoncesTrouve | paginate: { itemsPerPage: 4, currentPage: p }">
                <div class="slide slide1">
                  <div class="content">
                    <div class="icon">
                      <img src="{{liste.photo}}" style="height: 165px;width: 100%;"  alt="" srcset="">
                      <P>Lieu : <span>{{liste.lieu}}</span> &nbsp;  &nbsp; Date : {{liste.date | date:'shortDate'}}</P>
                    </div>
                  </div>
                </div>
                <div class="slide slide2">
                    <div class="content">
                        <div class="table">
                            <div class="ftr"  *ngIf="liste.nomC === '3'">
                              <div class="author">
                                <i class="fas fa-map-marker-alt" aria-hidden="true"></i> <span>{{liste.prenomProprietaireDoc}}</span>
                              </div>
                              <div class="stats"> {{liste.nomProprietaireDoc}} <i class=" fas fa-eraser"></i></div>
                            </div>
                            <div class="ftr"  *ngIf="liste.nomC === '3'">
                              <div class="author">
                                <i class="fas fa-map-marker-alt" aria-hidden="true"></i> <span>{{liste.dateNaissanceDoc}}</span>
                              </div>
                              <div class="stats"> {{liste.anneeObttion}} <i class=" fas fa-eraser"></i></div>
                            </div>
                            <!-- <div class="ftr">
                              <div class="author" *ngIf="liste.nomC === '3'"> <i class="fas fa-calendar"></i> Obtenu en : {{liste.anneeObttion}}</div>
                              <div class="author" *ngIf="liste.nomC === '7'"><i class="fas fa-map-marker-alt" aria-hidden="true"></i> <span>Model :{{liste.model}}</span></div>
                              <div class="stats" *ngIf="liste.nomC === '3'">Né le : {{liste.dateNaissanceDoc}} <i class=" fas fa-calendar"></i></div>
                            </div> -->
                            <div class="ftr" >
                              <div class="author">
                                <i class="fas fa-credit-card"></i><span>{{liste.date  | date:'shortDate'}}</span>
                              </div>
                              <div id="pop" class="stats">
                                <button style="font-size: 9px; color: black;" type="button" class="btn btn-default " 
                                    popover=" {{liste.contenu}} "
                                    popoverTitle="Description" placement="top">
                                   Description
                                </button>
                                <i class="fas fa-list-alt"></i>
                              </div>
                            </div>
                            <div class="ftr" style="margin: 0px auto;">
                                <div class="author" (click)="detalUserAnnonce(liste.utilisateur.id)">
                                    <a> <img src="../../../assets/Accueil/logoUserAccueil.png" width="30px" alt="..." class="avatar img-raised"> <span style="font-size: 10px;">{{liste.utilisateur.email}}</span> </a>
                                <span (click)="desactiveAnnonce(liste.id)"> <i class="fa fa-clock-o"></i> Retirer</span>
                                  </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <pagination-controls  nextLabel="Suiv" previousLabel="Pre" (pageChange)="p = $event"></pagination-controls>
    </div>
    <footer class="footer text-center">
      
      2021 © Ample Admin brought to you by <a
            href="https://www.wrappixel.com/">wrappixel.com</a>
    </footer>
  </div>
</div>