ion-toolbar{
    --background:linear-gradient(#3d85c6, #0000CD);
    color: white;
    ion-title{
        font-size: 12px;
    }
    ion-buttons{
        ion-button{
           ion-icon{
               font-size: 25px;
           }
        }
    }
}

ion-content{


    ion-card{
        box-shadow: none;

        .logo{
            border: 1px solid white;
            border-radius: 50%;
            background-color: rgba(11, 75, 194, 0.815);
            margin: 15px auto;
            padding: 0;
            height: 90px;
            width: 90px;
        }
        ion-card-header{
           padding: 13px;
            text-align: center;
            ion-card-title{

                h4{
                    padding: 0;
                    margin: 0;
                }
            }
            ion-card-subtitle{
                font-size: 12px;
            }
        }
    }

    ion-card-content{
       
       
        form{
            

            ion-item{
                margin: 0;
                padding: 0;
                color: #64789D;
                font-size: 13px;
                text-align: center;
                --highlight-color-focused:#081fa3;
                ion-input{
                    text-align: left;
                }
                
            }
        }
        .textConnect{
            text-align: center;
            span{
                font-size: 11px;
                color: #898585;
            }
        }
        .socials{
           
            text-align: center;
            ion-button{
                width: 40px;
                padding-left: 5px !important;
            }
        }
    }
}
ion-footer{
    background-color: white;
    ion-button{
        
        color: white;
        border-radius: 10px;
        --background: red;
    }
    ion-button:hover{
        color: red;
        border: 1px solid red;
        border-radius: 10px;
        --background: none;
    }
}