<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <div class="sideMenuHeader"></div>
      <div class="sideMenuLogo">
        <ion-item lines="none">
          <ion-thumbnail slot="start" >
            <img src="assets/NTAB.png" alt="" srcset="">
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            <p>Récherche des objet Perdu et Trouvé</p>
          </ion-label>
        </ion-item>
      </div>
      <div class="action-button">
        <ion-button  *ngIf="test === false">
          <ion-icon slot="start" name="add"></ion-icon> <a href="ajout-annonce" style="text-decoration: none;color: white;">Publier Annonce</a> 
        </ion-button>
        <ion-button (click)="msgPublication()" *ngIf="test === true">
          <ion-icon slot="start" name="add"></ion-icon> Publier Annonce
        </ion-button>
      </div>
      <ion-content>
        <ion-list  lines="none">
          <ion-menu-toggle auto-hide="false">
            <ion-item  [routerLink]="['/home']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label>Accueil</ion-label>
            </ion-item>
            <ion-item  [routerLink]="['/perdu']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="bag-remove"></ion-icon>
              <ion-label>Objet Perdu</ion-label>
            </ion-item>
            <ion-item  [routerLink]="['/trouve']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="bag-add"></ion-icon>
              <ion-label>Objet Trouvé</ion-label>
            </ion-item>
            <ion-item  [routerLink]="['/info']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="information-circle"></ion-icon>
              <ion-label>Info Utile</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer style="padding: 10px;">
        <ion-button (click)="logout()" *ngIf="test === false" expand="block" color="dark">
          <ion-icon slot="start" name="exit"></ion-icon>
          <a href="login"style="text-decoration: none;color: white;">DECONNEXION</a> 
        </ion-button>
        <ion-button  *ngIf="test === true" expand="block" color="dark">
          <ion-icon slot="start" name="log-in"></ion-icon>
          <a href="login" style="text-decoration: none;color: white;"> CONNEXION</a>
        </ion-button>
        <div  *ngIf="test === true" style="text-align: center;margin-top: 5px;">
          <span style="font-size: 10px; text-align: center;">Vous n'avez pas de compte? <a hrf="register" style=" font-size: 9px;color: #17BB89;font-weight: bold;" href="register"> S'INSCRIPTION</a> </span>
        </div>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
