<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/liste-notification']">
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/login']">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card class="cardbtn">
      <ion-card-header class="cardbtnHeader">
        <strong>FAIRE UNE ANNONCE</strong>
      </ion-card-header>
      <ion-card-content class="cardbtnContent">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="objtPerdu">
                <ion-button [routerLink]="['/ajout-perdu']" >OBJET PERDU OU TROUVE</ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-grid class="Gplus">
      <ion-item lines="none" class="ion-no-padding">
        <ion-label><ion-icon slot="start" name="bag-remove-sharp"></ion-icon> Récemment Trouvé</ion-label>
        <ion-button slot="end" size="small" shape="round" class="Bplus">plus</ion-button>
      </ion-item>
    </ion-grid>
    <ion-row class="cadreSlide">
      <ion-slides  [options]="slideOpts" >
        <ion-slide *ngFor="let i of id">
          <ion-card>
              <img src="assets/images/Accueil/s{{i}}.jpg" style="height: 70px;width: 100%;">
            <ion-card-content>
              <ion-item class="infoSlide">
                <ion-icon color="dark" slot="start" name="bag"></ion-icon>
                <ion-note slot="start" >
                  <ion-label>Nom :</ion-label>
                </ion-note>
                <ion-label class="ion-text-wrap">Le Nom de l'Objet Perdu</ion-label>
              </ion-item>
              <ion-item>
                <ion-button class="iconfaces" fill="outline">
                  <ion-icon class="iconface" name="logo-facebook"></ion-icon>
                </ion-button>
                <ion-button  class="iconwhat" fill="outline">
                  <ion-icon name="logo-whatsapp"></ion-icon>
                </ion-button>
                <ion-button class="btnRecla"  fill="outline">Réclamer</ion-button>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>
    <div class="cadreObjetPerdu">
      <div class="titleGategorie">
        <ion-item lines="none" class="statitle">
          <ion-icon slot="start" name="bag-remove-sharp"></ion-icon>
          <ion-label>Objet Perdu</ion-label>
        </ion-item>
      </div>
      <ion-grid class="Gplus">
        <ion-item lines="none" class="ion-no-padding">
          <ion-label>Récemment Perdu</ion-label>
          <ion-button slot="end" size="small" shape="round" color="light" class="Bplus">plus</ion-button>
        </ion-item>
      </ion-grid>
      <ion-card class="cadreOP">
        <img src="assets/images/Accueil/s3.jpg" style="height: 90px;width: 100%;">
      <ion-card-content>
        <ion-item>
          <ion-icon color="dark" slot="start" name="bag"></ion-icon>
          <ion-note slot="start">
            <ion-label  color="dark" >Nom :</ion-label>
          </ion-note>
          <ion-label class="ion-text-wrap">Le Nom de l'Objet Perdu</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon color="dark" slot="start" name="location"></ion-icon>
          <ion-note slot="start" color="dark">
            <ion-label>Lieu :</ion-label>
          </ion-note>
          <ion-label class="ion-text-wrap">Bamako</ion-label>
        </ion-item>
        <ion-item>
          <ion-button class="iconfaces" fill="outline">
            <ion-icon class="iconface" name="logo-facebook"></ion-icon>
          </ion-button>
          <ion-button  class="iconwhat" fill="outline">
            <ion-icon class="iconface" name="logo-whatsapp"></ion-icon>
          </ion-button>
          <ion-button class="btnRecla"  fill="outline">Réclamer</ion-button>
        </ion-item>
      </ion-card-content>
      </ion-card>
      <ion-card class="cadreOP">
        <img src="assets/images/Accueil/s3.jpg" style="height: 90px;width: 100%;">
      <ion-card-content>
        <ion-item>
          <ion-icon color="dark" slot="start" name="bag"></ion-icon>
          <ion-note slot="start">
            <ion-label  color="dark" >Nom :</ion-label>
          </ion-note>
          <ion-label class="ion-text-wrap">Le Nom de l'Objet Perdu</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon color="dark" slot="start" name="location"></ion-icon>
          <ion-note slot="start" color="dark">
            <ion-label>Lieu :</ion-label>
          </ion-note>
          <ion-label class="ion-text-wrap">Bamako</ion-label>
        </ion-item>
        <ion-item>
          <ion-button class="iconfaces" fill="outline">
            <ion-icon class="iconface" name="logo-facebook"></ion-icon>
          </ion-button>
          <ion-button  class="iconwhat" fill="outline">
            <ion-icon class="iconface" name="logo-whatsapp"></ion-icon>
          </ion-button>
          <ion-button class="btnRecla"  fill="outline">Réclamer</ion-button>
        </ion-item>
      </ion-card-content>
      </ion-card>
      <ion-card class="cadreOP">
        <img src="assets/images/Accueil/s3.jpg" style="height: 90px;width: 100%;">
      <ion-card-content>
        <ion-item>
          <ion-icon color="dark" slot="start" name="bag"></ion-icon>
          <ion-note slot="start">
            <ion-label  color="dark" >Nom :</ion-label>
          </ion-note>
          <ion-label class="ion-text-wrap">Le Nom de l'Objet Perdu</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon color="dark" slot="start" name="location"></ion-icon>
          <ion-note slot="start" color="dark">
            <ion-label>Lieu :</ion-label>
          </ion-note>
          <ion-label class="ion-text-wrap">Bamako</ion-label>
        </ion-item>
        <ion-item>
          <ion-button class="iconfaces" fill="outline">
            <ion-icon class="iconface" name="logo-facebook"></ion-icon>
          </ion-button>
          <ion-button  class="iconwhat" fill="outline">
            <ion-icon class="iconface" name="logo-whatsapp"></ion-icon>
          </ion-button>
          <ion-button class="btnRecla"  fill="outline">Réclamer</ion-button>
        </ion-item>
      </ion-card-content>
      </ion-card>
      <ion-card class="cadreOP">
        <img src="assets/images/Accueil/s3.jpg" style="height: 90px;width: 100%;">
      <ion-card-content>
        <ion-item>
          <ion-icon color="dark" slot="start" name="bag"></ion-icon>
          <ion-note slot="start">
            <ion-label  color="dark" >Nom :</ion-label>
          </ion-note>
          <ion-label class="ion-text-wrap">Le Nom de l'Objet Perdu</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon color="dark" slot="start" name="location"></ion-icon>
          <ion-note slot="start" color="dark">
            <ion-label>Lieu :</ion-label>
          </ion-note>
          <ion-label class="ion-text-wrap">Bamako</ion-label>
        </ion-item>
        <ion-item>
          <ion-button class="iconfaces" fill="outline">
            <ion-icon class="iconface" name="logo-facebook"></ion-icon>
          </ion-button>
          <ion-button  class="iconwhat" fill="outline">
            <ion-icon class="iconface" name="logo-whatsapp"></ion-icon>
          </ion-button>
          <ion-button class="btnRecla"  fill="outline">Réclamer</ion-button>
        </ion-item>
      </ion-card-content>
      </ion-card>
      <ion-card class="cadreOP">
        <img src="assets/images/Accueil/s3.jpg" style="height: 90px;width: 100%;">
      <ion-card-content>
        <ion-item>
          <ion-icon color="dark" slot="start" name="bag"></ion-icon>
          <ion-note slot="start">
            <ion-label  color="dark" >Nom :</ion-label>
          </ion-note>
          <ion-label class="ion-text-wrap">Le Nom de l'Objet Perdu</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon color="dark" slot="start" name="location"></ion-icon>
          <ion-note slot="start" color="dark">
            <ion-label>Lieu :</ion-label>
          </ion-note>
          <ion-label class="ion-text-wrap">Bamako</ion-label>
        </ion-item>
        <ion-item>
          <ion-button class="iconfaces" fill="outline">
            <ion-icon class="iconface" name="logo-facebook"></ion-icon>
          </ion-button>
          <ion-button  class="iconwhat" fill="outline">
            <ion-icon class="iconface" name="logo-whatsapp"></ion-icon>
          </ion-button>
          <ion-button class="btnRecla"  fill="outline">Réclamer</ion-button>
        </ion-item>
      </ion-card-content>
      </ion-card>
      <ion-card class="cadreOP">
        <img src="assets/images/Accueil/s3.jpg" style="height: 90px;width: 100%;">
      <ion-card-content>
        <ion-item>
          <ion-icon color="dark" slot="start" name="bag"></ion-icon>
          <ion-note slot="start">
            <ion-label  color="dark" >Nom :</ion-label>
          </ion-note>
          <ion-label class="ion-text-wrap">Le Nom de l'Objet Perdu</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon color="dark" slot="start" name="location"></ion-icon>
          <ion-note slot="start" color="dark">
            <ion-label>Lieu :</ion-label>
          </ion-note>
          <ion-label class="ion-text-wrap">Bamako</ion-label>
        </ion-item>
        <ion-item>
          <ion-button class="iconfaces" fill="outline">
            <ion-icon class="iconface" name="logo-facebook"></ion-icon>
          </ion-button>
          <ion-button  class="iconwhat" fill="outline">
            <ion-icon class="iconface" name="logo-whatsapp"></ion-icon>
          </ion-button>
          <ion-button class="btnRecla"  fill="outline">Réclamer</ion-button>
        </ion-item>
      </ion-card-content>
      </ion-card>
      <ion-card class="cadreOP">
        <img src="assets/images/Accueil/s3.jpg" style="height: 90px;width: 100%;">
      <ion-card-content>
        <ion-item>
          <ion-icon color="dark" slot="start" name="bag"></ion-icon>
          <ion-note slot="start">
            <ion-label  color="dark" >Nom :</ion-label>
          </ion-note>
          <ion-label class="ion-text-wrap">Le Nom de l'Objet Perdu</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon color="dark" slot="start" name="location"></ion-icon>
          <ion-note slot="start" color="dark">
            <ion-label>Lieu :</ion-label>
          </ion-note>
          <ion-label class="ion-text-wrap">Bamako</ion-label>
        </ion-item>
        <ion-item>
          <ion-button class="iconfaces" fill="outline">
            <ion-icon class="iconface" name="logo-facebook"></ion-icon>
          </ion-button>
          <ion-button  class="iconwhat" fill="outline">
            <ion-icon class="iconface" name="logo-whatsapp"></ion-icon>
          </ion-button>
          <ion-button class="btnRecla"  fill="outline">Réclamer</ion-button>
        </ion-item>
      </ion-card-content>
      </ion-card>
      <ion-card class="cadreOP">
        <img src="assets/images/Accueil/s3.jpg" style="height: 90px;width: 100%;">
      <ion-card-content>
        <ion-item>
          <ion-icon color="dark" slot="start" name="bag"></ion-icon>
          <ion-note slot="start">
            <ion-label  color="dark" >Nom :</ion-label>
          </ion-note>
          <ion-label class="ion-text-wrap">Le Nom de l'Objet Perdu</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon color="dark" slot="start" name="location"></ion-icon>
          <ion-note slot="start" color="dark">
            <ion-label>Lieu :</ion-label>
          </ion-note>
          <ion-label class="ion-text-wrap">Bamako</ion-label>
        </ion-item>
        <ion-item>
          <ion-button class="iconfaces" fill="outline">
            <ion-icon class="iconface" name="logo-facebook"></ion-icon>
          </ion-button>
          <ion-button  class="iconwhat" fill="outline">
            <ion-icon class="iconface" name="logo-whatsapp"></ion-icon>
          </ion-button>
          <ion-button class="btnRecla"  fill="outline">Réclamer</ion-button>
        </ion-item>
      </ion-card-content>
      </ion-card>
      <ion-card class="cadreOP">
        <img src="assets/images/Accueil/s3.jpg" style="height: 90px;width: 100%;">
      <ion-card-content>
        <ion-item>
          <ion-icon color="dark" slot="start" name="bag"></ion-icon>
          <ion-note slot="start">
            <ion-label  color="dark" >Nom :</ion-label>
          </ion-note>
          <ion-label class="ion-text-wrap">Le Nom de l'Objet Perdu</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon color="dark" slot="start" name="location"></ion-icon>
          <ion-note slot="start" color="dark">
            <ion-label>Lieu :</ion-label>
          </ion-note>
          <ion-label class="ion-text-wrap">Bamako</ion-label>
        </ion-item>
        <ion-item>
          <ion-button class="iconfaces" fill="outline">
            <ion-icon class="iconface" name="logo-facebook"></ion-icon>
          </ion-button>
          <ion-button  class="iconwhat" fill="outline">
            <ion-icon class="iconface" name="logo-whatsapp"></ion-icon>
          </ion-button>
          <ion-button class="btnRecla"  fill="outline">Réclamer</ion-button>
        </ion-item>
      </ion-card-content>
      </ion-card>
      <ion-card class="cadreOP">
        <img src="assets/images/Accueil/s3.jpg" style="height: 90px;width: 100%;">
      <ion-card-content>
        <ion-item>
          <ion-icon color="dark" slot="start" name="bag"></ion-icon>
          <ion-note slot="start">
            <ion-label  color="dark" >Nom :</ion-label>
          </ion-note>
          <ion-label class="ion-text-wrap">Le Nom de l'Objet Perdu</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon color="dark" slot="start" name="location"></ion-icon>
          <ion-note slot="start" color="dark">
            <ion-label>Lieu :</ion-label>
          </ion-note>
          <ion-label class="ion-text-wrap">Bamako</ion-label>
        </ion-item>
        <ion-item>
          <ion-button class="iconfaces" fill="outline">
            <ion-icon class="iconface" name="logo-facebook"></ion-icon>
          </ion-button>
          <ion-button  class="iconwhat" fill="outline">
            <ion-icon class="iconface" name="logo-whatsapp"></ion-icon>
          </ion-button>
          <ion-button class="btnRecla"  fill="outline">Réclamer</ion-button>
        </ion-item>
      </ion-card-content>
      </ion-card>
      <ion-card class="cadreOP">
        <img src="assets/images/Accueil/s3.jpg" style="height: 90px;width: 100%;">
      <ion-card-content>
        <ion-item>
          <ion-icon color="dark" slot="start" name="bag"></ion-icon>
          <ion-note slot="start">
            <ion-label  color="dark" >Nom :</ion-label>
          </ion-note>
          <ion-label class="ion-text-wrap">Le Nom de l'Objet Perdu</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon color="dark" slot="start" name="location"></ion-icon>
          <ion-note slot="start" color="dark">
            <ion-label>Lieu :</ion-label>
          </ion-note>
          <ion-label class="ion-text-wrap">Bamako</ion-label>
        </ion-item>
        <ion-item>
          <ion-button class="iconfaces" fill="outline">
            <ion-icon class="iconface" name="logo-facebook"></ion-icon>
          </ion-button>
          <ion-button  class="iconwhat" fill="outline">
            <ion-icon class="iconface" name="logo-whatsapp"></ion-icon>
          </ion-button>
          <ion-button class="btnRecla"  fill="outline">Réclamer</ion-button>
        </ion-item>
      </ion-card-content>
      </ion-card>
      <ion-grid class="Gplus">
        <ion-item lines="none" class="ion-no-padding">
          <ion-label>Pour Voir plus d'objet cliqué </ion-label>
          <ion-button slot="end" size="small" color="light" class="Bplus">Ici</ion-button>
        </ion-item>
      </ion-grid>
    </div>
    <div class="titleGategorie">
      <ion-item lines="none" class="statitle2">
        <ion-icon slot="start" name="sparkles-sharp"></ion-icon>
        <ion-label>Partenaire</ion-label>
      </ion-item>
    </div>
    <ion-slides  [options]="slideOpts" >
      <ion-slide >
        <ion-card>
          <ion-card-header>
            GANA TRANSPORT
          </ion-card-header>
          <ion-card-content>
            <img src="assets/images/Accueil/gana.jpg" style="height: 50px;">
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide >
        <ion-card>
          <ion-card-header>
            POLICE
          </ion-card-header>
          <ion-card-content>
            <img src="assets/images/Accueil/police.png" style="height: 50px;">
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide >
        <ion-card>
          <ion-card-header>
            GANA TRANSPORT
          </ion-card-header>
          <ion-card-content>
            <img src="assets/images/Accueil/gana.jpg" style="height: 50px;">
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide >
        <ion-card>
          <ion-card-header>
            AFRICA TOUR TRANSPORT
          </ion-card-header>
          <ion-card-content>
            <img src="assets/images/Accueil/africa.jpg" style="height: 50px;">
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide >
        <ion-card>
          <ion-card-header>
            AEROPORT
          </ion-card-header>
          <ion-card-content>
            <img src="assets/images/Accueil/aero.jpg" style="height: 50px;">
          </ion-card-content>
        </ion-card>
      </ion-slide>
  </ion-slides> 
</ion-content>
