<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/liste-notification']">
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/login']">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card class="cardbtn">
      <ion-card-header class="cardbtnHeader">
        <p> <strong>FAIRE UNE ANNONCE</strong></p>
      </ion-card-header>
      <ion-card-content class="cardbtnContent">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="objtPerdu">
                <ion-button [routerLink]="['/ajout-perdu']" >OBJET PERDU</ion-button>
              </div>
            </ion-col>
            <ion-col>
              <div class="objtTrouve">
              <ion-button>OBJET TROUVE</ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-grid class="Gplus">
      <ion-item lines="none" class="ion-no-padding">
        <ion-label>Récemment Perdu</ion-label>
        <ion-button slot="end" size="small" shape="round" class="Bplus">plus</ion-button>
      </ion-item>
    </ion-grid>
    <ion-row class="cadreSlide">
      <ion-slides pager="true" [options]="slideOpts" >
        <ion-slide *ngFor="let i of id">
          <ion-card>
              <img src="assets/images/Accueil/s{{i}}.jpg" style="height: 70px;width: 100%;">
            <ion-card-content>
              <ion-grid>
                <ion-row>
                  <ion-col size="2"><ion-icon name="bag"></ion-icon></ion-col>
                  <ion-col>NOM DE L'OBJET</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="2"><ion-icon name="location"></ion-icon></ion-col>
                  <ion-col>BAMAKO</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="2"><ion-icon name="time"></ion-icon></ion-col>
                  <ion-col>10h-12h</ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>
</ion-content>
