ion-toolbar{
    
    --background:linear-gradient(#3d85c6, #0000CD);
    color: white;
    ion-title{
        font-size: 14px;
        font-weight: 900;
    }
    ion-buttons{
        ion-button{
           ion-icon{
               font-size: 25px;
           }
        }
    }
}
.cardbtn{
    margin: 0px auto;
    border-radius: 0px 0px 10px 10px;
   
    .cardbtnHeader{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 11px;
    font-weight: 900;
    color: #2d2de7;
   }

   .cardbtnContent{
        margin: 0px;
        padding: 0px;
        ion-grid{
            text-align: center;
            margin: 0px;
            padding: 0px;
            ion-col{
                .objtPerdu{
                    ion-button:hover{
                        font-size: 9px;
                        border: 0.5px solid rgb(41, 41, 41);
                        box-shadow: 2px 2px 2px rgba(149, 149, 149, 0.52);
                        border-radius: 10px;
                        --background: rgb(240, 15, 15);
                        color: rgb(255, 255, 255);
                    }
                    
                }
                .objtTrouve{
                    ion-button:hover{
                        font-size: 10px;
                        border: 0.5px solid rgb(41, 41, 41);
                        box-shadow: 2px 2px 2px rgba(149, 149, 149, 0.52);
                        border-radius: 10px;
                        --background: rgb(10, 121, 7);
                        color: rgb(255, 255, 255);
                    }
                    
                }
                div{
                   
                    ion-button{
                        font-size: 10px;
                        height: 25px;
                        border: 1px solid rgba(41, 41, 41, 0.322);
                        box-shadow: 2px 2px 2px rgba(149, 149, 149, 0.52);
                        border-radius: 5px;
                        --background: none;
                        color: black;
                    }

                }
                
            }
        }
    }
}
.cadreSlide{
    height: 150px;
    padding: 0px;
    margin: 0px;
    background-color: white;
    ion-slides{
        height: 145px;
        background-color: white;
    ion-slide{
        height: 140px;
        background-color: rgba(179, 17, 17, 0.966);
        ion-card{
            width: 99%;
            background-color: white;
            ion-card-content{
               
                height: 60px;
                text-align: left;
                font-size: 9px;
                padding: 0px;
                ion-grid{
                   
                    ion-row{
                        height: 15px;
                        ion-col{
                            
                        }
                    }
                }
                
            }
            }
        }
    }
    
    
}
.section{
    border-radius: 30px 30px 0px 0px;
    background:linear-gradient(#3d85c6, #0000CD);
    color: white;
    width: 100%;
    margin-top: 20px;
    ion-title{
        font-size: 11px;
    }
    ion-card{
       
      width: 90%;
        ion-grid{
            ion-row{
                ion-col{
                    .detail{
                        font-size: 11px;
                    }
                }
            }
        }
    }
}

.Gplus{
    
    
    ion-item{
        
        
        ion-label{
            color: #3939c0;
            font-size: 12px;
            font-weight: 600;
        }
        ion-buton{
            margin: 0px;
            padding: 0px;
            font-size: 8px;
        }
    }
    
    

    

}
