ion-content{


    ion-card{
        .logo{
            border: 1px solid white;
            border-radius: 50%;
            background-color: rgba(11, 75, 194, 0.815);
            margin: 0 auto;
            height: 100px;
            width: 100px;
        }
       
        box-shadow: none;
        @-webkit-keyframes scale-in-center {
            0% {
              -webkit-transform: scale(0);
                      transform: scale(0);
              opacity: 1;
            }
            100% {
              -webkit-transform: scale(1);
                      transform: scale(1);
              opacity: 1;
            }
          }
          @keyframes scale-in-center {
            0% {
              -webkit-transform: scale(0);
                      transform: scale(0);
              opacity: 1;
            }
            100% {
              -webkit-transform: scale(1);
                      transform: scale(1);
              opacity: 1;
            }
          };
        .logo{
            -webkit-animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            ion-img{
                height: 100px;
            }
        }
    }

    ion-card-content{
        .inputs{
            ion-item{
                margin-top: 10px;
                text-align: center;
                color: #64789D;
                font-size: 14px;
                --highlight-color-focused:#081fa3;
                
            }
        }
        .password-f{
            text-align: right;
            ion-button{
                font-size: 10px;
            }
        }
        .btnConnect{
            margin-top: 10px;
            text-align: center;
        }
        .textConnect{
            text-align: center;
            margin-top: 20px;
            span{
                font-size: 12px;
                color: #898585;
            }
        }
        .socials{
            text-align: center;
            ion-button{
                width: 40px;
                padding-left: 5px !important;
            }
        }
    }
}