<ion-content>
  <ion-card class="ion-no-margin cardlogo">
    <ion-img src="assets/images/Auth/header11.png"></ion-img>
    <div class="logo ion-text-center">
      <ion-img src="assets/images/NTAB.png"></ion-img>
    </div>
  </ion-card>
 
    <div class="inputs">  
      <ion-item>
        <ion-icon name="person"></ion-icon>
        <ion-input type="email" name="email" placeholder="Email" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
        Email is required.
      </span>
  
      <ion-item>
        <ion-icon name="lock-closed"></ion-icon>
        <ion-input type="password" name="password" placeholder="********" required></ion-input>
      </ion-item>
    </div>
    <div class="password-f">
      <ion-button fill="clear" [routerLink]="['/forgot']"> <b>Mot de passe oublié?</b> </ion-button>
    </div>
    <div class="btnConnect">
      <ion-button  size="small"  [routerLink]="['/tabs/tabs/tab1']">Connexion</ion-button>
    </div>
    <div class="textConnect">
      <span>Se connecter avec</span>
    </div>
    <div class="socials">
      <ion-button fill="clear" class="ion-no-padding">
        <ion-img src="assets/images/Auth/google.png"></ion-img>
      </ion-button>
      <ion-button fill="clear" class="ion-no-padding">
        <ion-img src="assets/images/Auth/facebook.png"></ion-img>
      </ion-button>
    </div>
    <div class="textConnect">
      <span>Vous n'avez pas de compte? <a href="register"> S'inscrire</a> </span>
    </div>

</ion-content>
