ion-content{
  padding: 0px;
  margin: 0px;
  ion-card{
    margin-top: 0px;
    box-shadow: none;
    @-webkit-keyframes scale-in-center {
        0% {
          -webkit-transform: scale(0);
                  transform: scale(0);
          opacity: 1;
        }
        100% {
          -webkit-transform: scale(1);
                  transform: scale(1);
          opacity: 1;
        }
    }
    @keyframes scale-in-center {
      0% {
        -webkit-transform: scale(0);
                transform: scale(0);
        opacity: 1;
      }
      100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
      }
    };

      .logo{
          -webkit-animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          border: 2px solid #06a374;
          box-shadow: 2px 2px 2px rgb(122, 120, 120);
          border-radius: 50%;
          background-color:#17BB89;
          margin: 0 auto;
          padding: 0;
          height: 110px;
          width: 110px;
      }
      ion-card-header{
          padding: 13px;
          text-align: center;
          ion-card-title{

              h4{
                font-family: 'Times New Roman', Times, serif;
                  padding: 0;
                  margin: 0;
              }
          }
          ion-card-subtitle{
              font-size: 11px;
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          }
      }
  }
}


.label-float {
  position: relative;
  padding-top: 13px;
  font-size: 13px;

  input {
    background-color: transparent;
    border: 0.5px solid rgba(92, 92, 92, 0.431);
    border-radius: 5px;
    outline: none;
    height: 35px;
    width: 100%;
    font-size: 12px;
    padding: 5px;
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -webkit-appearance: none;
    &:focus {
      border: 2px solid #17bb89;
    }
    &::placeholder {
      color: transparent;
    }
  }
  input:invalid{
      border: 1px solid rgba(245, 154, 154, 0.5);
      color: black;
  }
  ion-select {
    background-color: transparent;
    border: 0.5px solid rgba(92, 92, 92, 0.431);
    border-radius: 5px;
    outline: none;
    height: 35px;
    width: 100%;
    font-size: 12px;
    padding:0px 20px;
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -webkit-appearance: none;
    &:focus {
      border: 2px solid #17bb89;
    }
    &::placeholder {
      color: transparent;
    }
  }
  ion-select:invalid{
    border: 1px solid red;
  }
  ion-select:valid{
  border: 1px solid #17bb89;
  }
  label {
    color: #000;
    pointer-events: none;
    position: absolute;
    top: calc(50% - 8px);
    left: 10px;
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    background-color: #fff;
    padding-top: 5px;
    margin-left: 10px;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
  }
  ion-label{
    color: #000;
    pointer-events: none;
    position: absolute;
    top: calc(50% - 8px);
    left: 10px;
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    background-color: #fff;
    padding-top: 5px;
    margin-left: 10px;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
  }
}

.label-float input:focus + label,
input:not(:placeholder-shown):not(.invalid) + label {
  font-size: 12px;
  top: 0;
  color: #000;
}
.label-float input:not(:focus):not(:placeholder-shown):not(.invalid) + label {
  font-size: 12px;
  top: 0;
  color: #000;
}


.label-float ion-select:focus + ion-label,
ion-select:not(:placeholder-shown):not(.invalid) + ion-label {
  font-size: 12px;
  top: 10px;
  color: #000;
}
.label-float ion-select:not(:focus):not(:placeholder-shown):not(.invalid) + ion-label {
  font-size: 12px;
  top: 10px;
  color: #000;
}