<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Objet Perdu</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab *ngIf="test === false" horizontal="end" vertical="top" slot="fixed" style="margin-top: -30px;" edge>
    
    <ion-fab-button title="Profile" size="small" color="light">
      <!-- <ion-badge *ngIf="indice == true"><ion-icon name="radio-button-on-sharp"></ion-icon></ion-badge> -->
      <ion-icon style="pointer-events: none;"  name="person-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button size="small" color="light">
        <ion-icon [routerLink]="['/detail-profil']"  name="person-sharp"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <!-- <ion-badge  *ngIf="indice == true"><span>{{nombre}}</span></ion-badge> -->
        <ion-icon  [routerLink]="['/notification']" name="notifications"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <a href="login">
        <ion-icon color="danger" (click)="logout()" name="power-sharp"></ion-icon>
        </a>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-fab *ngIf="test === true" horizontal="end" vertical="top" slot="fixed"  style="margin-top: -30px;" edge>
    <ion-fab-button title="Profile" size="small" color="light">
      <ion-icon style="pointer-events: none;"  name="person-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button title="Connexion"  size="small" color="light">
        <a href="login"  style="color: black;"><ion-icon style="pointer-events: none;"  name="person-sharp"></ion-icon></a>
        
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

    <div class="CadreAnnoce">
      <div class="CadreAnnoce">
        <div class="cadreAnnoceBtn">
          <div class="box">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
              <ion-item lines="none">
                <ion-thumbnail slot="start">
                  <img src="assets/Accueil/imgOP.png" alt="" srcset="" style="width: 50px;height: 70px;">
                </ion-thumbnail>
                <a href="ajout-annonce" *ngIf="test === false">Publier Annonce</a>
                <a *ngIf="test === true" (click)="showAlertA()" >Publier Annonce</a>
              </ion-item>
          </div>
        </div>
      </div>
    </div>
     <ion-searchbar placeholder="Rechercher..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
   <!-- content Objet Récemment Trouve -->
   <div class="cadreObjetPerdu">
    <div class="titleGategorie">
      <ion-item lines="none" class="statitle">
        <ion-icon slot="start" style="color: #fff;" name="bag-remove-sharp"></ion-icon>
        <ion-label>Liste Objet Perdu</ion-label>
      </ion-item>
    </div>
    <ion-card *ngFor="let listeP of listeAnnoncesPerdu| paginate: { itemsPerPage: 20, currentPage: cp }  |filter:filterTerm">
      <ion-card-header>
      <img src="{{listeP.photo}}">
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="none">
          <ion-icon  name="bag" slot="start"></ion-icon>
          <ion-label >Nom : {{listeP?.nom}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="stats-chart-sharp" slot="start"></ion-icon>
          <ion-label slot="start"> Statut: {{listeP?.statut}}</ion-label>
          <ion-icon  name="time-sharp" ></ion-icon>
          <ion-label >Date : {{listeP?.date |  date:'shortDate'}}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card> 
    <!-- Fin -->
    <div class="paginationContent">
      <pagination-controls nextLabel="Suiv" previousLabel="Pre" (pageChange)="cp = $event"></pagination-controls>
    </div>
    
  </div>
  <!-- Fin -->


  <!-- PARTENAIR -->
  <div class="titlePartenair">
    <ion-item lines="none">
      <ion-icon slot="start" name="sparkles-sharp"></ion-icon>
      <ion-label>Partenaire</ion-label>
    </ion-item>
  </div>
  <!-- Fin -->


  <!-- Partenair Slide -->
  <ion-slides  [options]="slideOpts" >
    <ion-slide> 
      <ion-card>
        <ion-card-header>
        <img src="assets/Partenair/gana.jpg">
        </ion-card-header>
        <ion-card-content>
          GANA TRANSPORT
        </ion-card-content>
      </ion-card>    
    </ion-slide>
    <ion-slide> 
      <ion-card>
        <ion-card-header>
        <img src="assets/Partenair/Police.jpg">
        </ion-card-header>
        <ion-card-content>
          POLICE
        </ion-card-content>
      </ion-card>    
    </ion-slide>
    <ion-slide> 
      <ion-card>
        <ion-card-header>
        <img src="assets/Partenair/Mairie.jpg">
        </ion-card-header>
        <ion-card-content>
          MAIRIE DE LA DISTRICT DE BAMAKO
        </ion-card-content>
      </ion-card>    
    </ion-slide>
    <ion-slide> 
      <ion-card>
        <ion-card-header>
        <img src="assets/Partenair/africa.jpg">
        </ion-card-header>
        <ion-card-content>
          AFRICA TOUR TRANSPORT
        </ion-card-content>
      </ion-card>    
    </ion-slide>
    <ion-slide> 
      <ion-card>
        <ion-card-header>
        <img src="assets/Partenair/taxi.jpg">
        </ion-card-header>
        <ion-card-content>
           TAXI
        </ion-card-content>
      </ion-card>    
    </ion-slide>
  </ion-slides>

</ion-content>
