<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/liste-notification']">
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
      <ion-button [routerLink]="['/detail']">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-title>Objet Perdu</ion-title>
    </ion-buttons>
    <ion-buttons>
      <ion-back-button defaultHref="">Objet Perdu</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <div class="div1">
          <img style="height: 80px;" src="assets/images/Accueil/lost-icon-missing-230247596.png" alt="" srcset="">
          <ion-title>J'ai perdu un Objet</ion-title>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="div1">
          <img style="height: 80px;" src="assets/images/Accueil/impress-icon-make-impression-171744856.png" alt="" srcset="">
          <ion-title>J'ai perdu un Objet</ion-title>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-searchbar animated></ion-searchbar>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div>
            <img style="height: 100px; width: 100%;" src="assets/images/Accueil/s3.jpg">
          </div>
        </ion-col>
        <ion-col size="8">
          <div class="detail">
            <ion-col class="objtitle">Chargeur Iphone</ion-col> <br>
            <ion-col class="descrtitle"><ion-icon name="location-outline"></ion-icon>Segou</ion-col> <br>
            <ion-row>
              <ion-col size="6"><ion-icon name="time-outline"></ion-icon>10h:00</ion-col>
              <ion-col>Il y'a 24h</ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div>
            <img style="height: 100px; width: 100%;" src="assets/images/Accueil/s4.jpg">
          </div>
        </ion-col>
        <ion-col size="8">
          <div class="detail">
            <ion-col class="objtitle">Chargeur Iphone</ion-col> <br>
            <ion-col class="descrtitle"><ion-icon name="location-outline"></ion-icon>Segou</ion-col> <br>
            <ion-row>
              <ion-col size="6"><ion-icon name="time-outline"></ion-icon>10h:00</ion-col>
              <ion-col>Il y'a 24h</ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div>
            <img style="height: 100px; width: 100%;" src="assets/images/Accueil/s5.jpg">
          </div>
        </ion-col>
        <ion-col size="8">
          <div class="detail">
            <ion-col class="objtitle">Chargeur Iphone</ion-col> <br>
            <ion-col class="descrtitle"><ion-icon name="location-outline"></ion-icon>Segou</ion-col> <br>
            <ion-row>
              <ion-col size="6"><ion-icon name="time-outline"></ion-icon>10h:00</ion-col>
              <ion-col>Il y'a 24h</ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div>
            <img style="height: 100px; width: 100%;" src="assets/images/Accueil/s6.jpg">
          </div>
        </ion-col>
        <ion-col size="8">
          <div class="detail">
            <ion-col class="objtitle">Chargeur Iphone</ion-col> <br>
            <ion-col class="descrtitle"><ion-icon name="location-outline"></ion-icon>Segou</ion-col> <br>
            <ion-row>
              <ion-col size="6"><ion-icon name="time-outline"></ion-icon>10h:00</ion-col>
              <ion-col>Il y'a 24h</ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div>
            <img style="height: 100px; width: 100%;" src="assets/images/Accueil/s8.jpg">
          </div>
        </ion-col>
        <ion-col size="8">
          <div class="detail">
            <ion-col class="objtitle">Chargeur Iphone</ion-col> <br>
            <ion-col class="descrtitle"><ion-icon name="location-outline"></ion-icon>Segou</ion-col> <br>
            <ion-row>
              <ion-col size="6"><ion-icon name="time-outline"></ion-icon>10h:00</ion-col>
              <ion-col>Il y'a 24h</ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div>
            <img style="height: 100px; width: 100%;" src="assets/images/Accueil/s9.jpg">
          </div>
        </ion-col>
        <ion-col size="8">
          <div class="detail">
            <ion-col class="objtitle">Chargeur Iphone</ion-col> <br>
            <ion-col class="descrtitle"><ion-icon name="location-outline"></ion-icon>Segou</ion-col> <br>
            <ion-row>
              <ion-col size="6"><ion-icon name="time-outline"></ion-icon>10h:00</ion-col>
              <ion-col>Il y'a 24h</ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div>
            <img style="height: 100px; width: 100%;" src="assets/images/Accueil/s10.jpg">
          </div>
        </ion-col>
        <ion-col size="8">
          <div class="detail">
            <ion-col class="objtitle">Chargeur Iphone</ion-col> <br>
            <ion-col class="descrtitle"><ion-icon name="location-outline"></ion-icon>Segou</ion-col> <br>
            <ion-row>
              <ion-col size="6"><ion-icon name="time-outline"></ion-icon>10h:00</ion-col>
              <ion-col>Il y'a 24h</ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div>
            <img style="height: 100px; width: 100%;" src="assets/images/Accueil/s1.jpg">
          </div>
        </ion-col>
        <ion-col size="8">
          <div class="detail">
            <ion-col class="objtitle">Chargeur Iphone</ion-col> <br>
            <ion-col class="descrtitle"><ion-icon name="location-outline"></ion-icon>Segou</ion-col> <br>
            <ion-row>
              <ion-col size="6"><ion-icon name="time-outline"></ion-icon>10h:00</ion-col>
              <ion-col>Il y'a 24h</ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
