ion-tabs{
    ion-tab-button{
        margin: 0px;
        padding: 0%;
        --background: #25ffbe2d;
        --color:#17BB89;
       
        font-size: 9px;
        --color-selected: #17BB89;
        ion-icon:hover{
          color: #05956a;

        }
        &::before {
          background-color: transparent;
          display: block;
          content: "";
          margin: 0 auto;
          width: 20px;
          height: 2px;
        }
      
        &.tab-selected::before {
          background-color:#17BB89;
        }
      }
    }



