<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <div class="logo">
      <ion-img src="assets/images/splash/NTAB.png"></ion-img>
    </div>
    <ion-card-header>
      <ion-card-title>
        <h4><b>Inscription</b></h4>  
      </ion-card-title>
      <ion-card-subtitle>
        Créez votre compte en remplissant 
                le formulaire
      </ion-card-subtitle>
    </ion-card-header>
  <ion-card-content class="ion-no-margin">
    <form  #userForm="ngForm" (ngSubmit)="registreForm(userForm)" novalidate>
      <ion-item lines="full">
        <ion-label position="floating">Nom d'utilisateur</ion-label>
        <ion-input type="text" name="login" ngModel #login="ngModel" required><ion-icon name="person-outline"></ion-icon></ion-input>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label position="floating" >Mot de passe</ion-label>
        <ion-input type="password" name="password" ngModel #password="ngModel" required><ion-icon name="lock-closed-outline"></ion-icon></ion-input>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label position="floating">Téléphone</ion-label>
        <ion-input type="text" name="tel" #tel="ngModel" ngModel required><ion-icon name="call-outline"></ion-icon></ion-input>
      </ion-item>
  
      <ion-item lines="full">
        <ion-label position="floating">Genre</ion-label>
        <ion-input type="text" name="genre" #genre="ngModel" ngModel placeholder="exemple: homme/femme"  required><ion-icon name="location-outline"></ion-icon></ion-input>
      </ion-item>
  
      <ion-row>
        <ion-col>
          <ion-button type="submit" size="small" color="success" expand="block">Envoyer</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-card-content>
</ion-card>
<ion-card class="ion-no-margin">
  <ion-img src="assets/images/Auth/header2.png"></ion-img>
</ion-card>
</ion-content>
