<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" [routerLink]="['/tabs/tabs/tab1']"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Detail Profil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item >
      <ion-thumbnail slot="start">
        <img src="assets/Accueil/imgprofildetail.jpg">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        {{userConnecte.nom_complet}} 
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-icon name="call-sharp" slot="start"></ion-icon>
      <ion-label> {{userConnecte.tel}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-label>{{userConnecte.email}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" style="margin-right: 100px;" (click)="logout()" color="danger" name="power-sharp"></ion-icon>
      <ion-icon button [routerLink]="['/modifier-profil']" color="primary"   name="create-sharp"></ion-icon>
      <ion-icon button  color="danger"  slot="end" name="trash-sharp"></ion-icon>
    </ion-item>
  </ion-card>


  <!-- -------------------------------------------------- -->
  <div class="cadreObjetPerdu">
    <div class="titleGategorie">
      <ion-item class="statitle">
        <ion-icon slot="start" color="light" name="bag-remove-sharp"></ion-icon>
        <ion-label>Mes Publications</ion-label>
      </ion-item>
    </div>
    

  
    <ion-card *ngFor="let liste of annoncebyuser ">
      <ion-item (click)="testClick()">
        <ion-avatar slot="start">
          <img src="../../../assets/Accueil/logoUserAccueil.png">
        </ion-avatar>
        <ion-label>
          {{userConnecte.nom_complet}}
        </ion-label>
      </ion-item>
      <ion-card-header>
        
      <img src=" {{liste.photo}}">
      </ion-card-header>
      <ion-card-content>
        
        <ion-item lines="none">
          <ion-icon  name="bag" slot="start"></ion-icon>
          <ion-label > {{liste.nom}}</ion-label>
          <ion-label slot="end"> {{liste.lieu}}</ion-label>
          <ion-icon name="location-sharp" slot="end"></ion-icon>
        </ion-item>
        <ion-item lines="none">
          <ion-icon  name="time-sharp" slot="start"></ion-icon>
          <ion-label >{{liste.date  |  date:'shortDate'}}</ion-label>
          <ion-label slot="end">{{liste.couleur}}</ion-label>
          <ion-icon  name="color-palette-sharp" slot="end"></ion-icon>
        </ion-item>
        <ion-item detail>
          <ion-icon  name="book-sharp"></ion-icon>
          <ion-label>
            Description
          </ion-label>
          <ion-label>
            {{liste.contenu}}
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label slot="start"> Statut : {{liste.statut}}</ion-label>
          <ion-icon slot="end" (click)="presentConfirm(liste.id)" color="danger" name="trash-sharp"></ion-icon>
        </ion-item>
      </ion-card-content>
    </ion-card> 
   
    <!-- Fin --> 
  </div>
  
</ion-content>
