
ion-content{


    ion-card{
        box-shadow: none;

        .logo{
            border: 1px solid white;
            border-radius: 50%;
            background-color: rgba(11, 75, 194, 0.815);
            margin: 0 auto;
            padding: 0;
            height: 80px;
            width: 80px;
            
        }
        ion-card-header{
            text-align: center;
            
            ion-card-subtitle{
                font-size: 12px;
            }
        }
    }

    ion-card-content{
        form{
           

            ion-item{
                text-align: center;
                color: #64789D;
                font-size: 13px;
                --highlight-color-focused:#081fa3;
            }
        }
       
        .btnConnect{
            text-align: center;
        }
        
    }
    .bottomImg{
        margin-top: 120px;
    }
}