ion-tabs{
    ion-tab-button{
        margin: 0px;
        padding: 0%;
        --background: rgba(9, 101, 240, 0.096);
        --color:black;
        font-size: 9px;
        --color-selected:  rgba(9, 101, 240, 0.938);
        
        &::before {
          background-color: transparent;
          display: block;
          content: "";
          margin: 0 auto;
          width: 20px;
          height: 2px;
        }
      
        &.tab-selected::before {
          background-color: var(--ion-color-primary);
        }
      }
    }


