<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" [routerLink]="['/tabs/tabs/tab1']"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Notification
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-item>
    <ion-thumbnail slot="start">
      <img  src="assets/Accueil/logoUserAccueil.png">
    </ion-thumbnail>
    <ion-label>
      <h3>{{myNotification.admin.nom_complet}}</h3>
    </ion-label>
  </ion-item>
  <ion-card>
    <ion-card-header>
      <p>Message : </p>
      {{myNotification.description}}
    </ion-card-header>
    <ion-card-content>
      <img src="{{myNotification.reclame.annonce.photo}}">
      <ion-item lines="none">
        <ion-icon  name="bag" slot="start"></ion-icon>
        <ion-label >Nom :{{myNotification.reclame.annonce.nom}}</ion-label>
        <ion-icon name="stats-chart-sharp" slot="end"></ion-icon>
        <ion-label slot="start" slot="end"> Statut: {{myNotification.reclame.annonce.statut}}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon  name="time-sharp" slot="start"></ion-icon>
        <ion-label >Date : {{myNotification.reclame.annonce.date |  date:'shortDate'}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-item style="margin: 0 auto;">
    <ion-label [routerLink]="['/tabs/tabs/tab1']" style="text-align: center; font-size: 25px;" slot="start">
      <ion-icon name="arrow-back-circle-sharp"></ion-icon>
      <p>retourne</p>
    </ion-label>
    <ion-label (click)="desactiveEtat(myNotification.id)" style="text-align: center; font-size: 25px;" slot="end">
    <ion-icon button  color="danger" name="trash-sharp"></ion-icon>
      <p>Supprimer</p>
    </ion-label>
  </ion-item>
</ion-content>
