ion-toolbar{
    --background:linear-gradient(#3d85c6, #0000CD);
    color: white;
    ion-title{
        font-size: 12px;
    }
    ion-buttons{
        ion-button{
           ion-icon{
               font-size: 25px;
           }
        }
    }
}
.logoNotification{
    font-size: 50px;
}