<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" [routerLink]="['/tabs/tabs/tab1']"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Notification
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 
  <ion-item style="margin: 5px 0px;padding: 0px;" *ngFor="let liste of myNotification">
    <ion-thumbnail slot="start">
      <img  src="assets/Accueil/logoUserAccueil.png">
    </ion-thumbnail>
    <ion-label  [routerLink]="['/detail-notification', liste.id]">
      <h3>{{liste.admin.nom_complet}}</h3>
      <p>{{liste.description}}</p>
    </ion-label>
    <ion-icon (click)="presentActionSheet()" name="ellipsis-horizontal-circle-sharp"></ion-icon>
  </ion-item>
  
  
</ion-content>
