ion-toolbar{
    
    --background:linear-gradient(#17BB89, #17BB89);
    color: white;
    ion-title{
        font-size: 14px;
        font-weight: 900;
    }
    ion-buttons{
        ion-button{
           ion-icon{
               font-size: 25px;
           }
        }
    }
  }
 