ion-content{
    --background: url('/assets/imageFont.jpg') no-repeat fixed center/cover;
   
}
.content{
    background: rgba(6, 48, 128, 0.815);
    height: 100%;
    @-webkit-keyframes scale-out-bottom {
        0% {
          -webkit-transform: scale(1);
                  transform: scale(1);
          -webkit-transform-origin: 50% 100%;
                  transform-origin: 50% 100%;
          opacity: 1;
        }
        100% {
          -webkit-transform: scale(0);
                  transform: scale(0);
          -webkit-transform-origin: 50% 100%;
                  transform-origin: 50% 100%;
          opacity: 1;
        }
      }
      @keyframes scale-out-bottom {
        0% {
          -webkit-transform: scale(1);
                  transform: scale(1);
          -webkit-transform-origin: 50% 100%;
                  transform-origin: 50% 100%;
          opacity: 1;
        }
        100% {
          -webkit-transform: scale(0);
                  transform: scale(0);
          -webkit-transform-origin: 50% 100%;
                  transform-origin: 50% 100%;
          opacity: 1;
        }
      }
      
    div{
       
        -webkit-animation: scale-out-bottom 5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-out-bottom 5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        img{
            
            border-radius: 50%;
            background-color:none;
            height: 170px;
            margin-top: 80%;
        }
    }
}