<app-header></app-header>
<app-side-menu></app-side-menu>
<div class="page-wrapper">
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center sous-header">
            <div class="col-lg-8 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">GESTION ADMINISTRATEURS</h4>
            </div>
            <div class="col-lg-4 col-sm-8 col-md-8 col-xs-12">
                <div class="d-md-flex" > 
                    <ol class="breadcrumb ms-auto">
                        <li> <a href="ajoutadmin" class="ajoutadmin ">
                            <i class="fas fa-plus" aria-hidden="true"></i>  
                            <b> Ajouter un admin </b>
                        </a></li>
                    </ol>
                   
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
     <div class="row justify-content-center" style="margin: 0 auto;">
        <!-- Mettre ici le contenu de la page -->

        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="white-box">
                    <div class="d-md-flex mb-3">
                        <div class="row col-md-12 col-lg-12 col-sm-12">
                            <div class="col-md-6 col-lg-6 col-sm-6">
                                <h3 class="box-title mb-0">Liste des administrateurs</h3>
                            </div>
                            
                            <div class="col-md-6 col-lg-6 col-sm-6">
                                <form role="search" >
                                    <a href="" class="active">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <input type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Recherche..." class="form-control mt-0">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table no-wrap" >
                            <thead>
                                <tr>
                                    <th class="border-top-0"><b>Nom_Complet</b></th>
                                    <th class="border-top-0"><b>Email</b></th>
                                    <th class="border-top-0"><b>Login</b></th>
                                    <th class="border-top-0"><b>Genre</b></th>
                                    <th class="border-top-0"><b>Téléphone</b></th>
                                    <th class="border-top-0"><b>Action</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let liste of listAdmin | filter:searchText">
                                    <td class="txt-oflo">{{liste.nom_complet}}</td>
                                    <td class="txt-oflo">{{liste.email}}</td>
                                    <td class="txt-oflo">{{liste.login}}</td>
                                    <td class="txt-oflo">{{liste.genre}}</td>
                                    <td class="txt-oflo">{{liste.tel}}</td>
                                    <td>
                                        <span class="text-success alignement">
                                            <a [routerLink]="['/modifieadmin', liste.id]"> <i class="fa fa-edit" aria-hidden="true"></i></a>
                                            <a (click)="deleteAdmin(liste.id)"><i style="color: red;" class="fa fa-trash" aria-hidden="true"></i></a>
                                            <a [routerLink]="['/detailadmin', liste.id]"><i style="color: #03224c;" class="fas fa-info-circle" aria-hidden="true"></i></a>
                                         </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>